{% block content %}
<script>
        var XY_plot = document.getElementById('FFY')
        var data = []
        var layout = {
        title:'Fetal fraction Y and fetal fraction correlation.',
        annotations : [],
        legend:{hovermode:'closest' },
        hovermode:'closest',
        xaxis :{
                showline: true,
                zeroline: false,
                linecolor: '#636363',
                linewidth: 5,
                showgrid: false,
                gridcolor: '#bdbdbd',
                title: 'Fetal Fraction Y (%)'
                },
                
        yaxis :{
                zeroline: false,
                showline: true,
                showgrid: false,
                linecolor: '#636363',
                linewidth: 5,
                title : 'Fetal Fraction (%)'
                },};
        var backstat = {
        y: {{control['FF']}},
        x: {{control['FFY']}},
        name: 'Negative (N={{nr_contol_samples}})',
        hoverinfo:'none',
        mode: 'markers',
        type: 'scatter',
        marker: {color: '#ccccb3'}}
        data.push(backstat);

        {% for sample in sample_list %}
        var trace1 = {
        y: [{{cases[sample]['FF']}}],
        x: [{{cases[sample]['FFY']}}],
        name: {{cases[sample]['name']|tojson}},
        mode: 'markers',
        text: {{cases[sample]['name']|tojson}},
        type: 'scatter',
        marker: {
                color: '{{many_colors[sample]}}',
                size: {{case_size}},
                line: {width:{{case_line}}} }};
        data.push(trace1);
        {% endfor %}
    
        Plotly.newPlot('FFY', data, layout);
    </script>
<script>
        var XY_plot = document.getElementById('FFX')
        var data = []
        var layout = {
        title:'Fetal fraction X and fetal fraction correlation',
        annotations : [],
        legend:{hovermode:'closest' },
        hovermode:'closest',
        xaxis :{showline: true,
                zeroline: false,
                linecolor: '#636363',
                linewidth: 5,
                showgrid: false,
                gridcolor: '#bdbdbd',
                title: 'Fetal Fraction X (%)'
                },
                
        yaxis :{
                zeroline: false,
                showline: true,
                showgrid: false,
                linecolor: '#636363',
                linewidth: 5,
                title : 'Fetal fraction (%)'
                },};
        var backstat = {
        y: {{control['FF']}},
        x: {{control['FFX']}},
        name: 'Negative (N={{nr_contol_samples}})',
        hoverinfo:'none',
        mode: 'markers',
        type: 'scatter',
        marker: {color: '#ccccb3'}}
        data.push(backstat);


        {% for sample in sample_list %}
        var trace1 = {
        y: [{{cases[sample]['FF']}}],
        x: [{{cases[sample]['FFX']}}],
        name: {{cases[sample]['name']|tojson}},
        mode: 'markers',
        text: {{cases[sample]['name']|tojson}},
        type: 'scatter',
        marker: {
                color: '{{many_colors[sample]}}',
                size: {{case_size}},
                line: {width:{{case_line}}}
                }};
        data.push(trace1);
        {% endfor %}
    
        Plotly.newPlot('FFX', data, layout);
    </script>
{% endblock %}
