{% block content %}
<script>
        var XY_plot = document.getElementById('NCVXY')
        var data = []
        var layout = {
        annotations : [],
        legend:{hovermode:'closest' },
        hovermode:'closest',
        xaxis :{range: [1,0],
                showline: true,
                zeroline: false,
                linecolor: '#636363',
                linewidth: 5,
                showgrid: false,
                gridcolor: '#bdbdbd',
                title: 'FFX'
                },
                
        yaxis :{
                zeroline: false,
                showline: true,
                showgrid: false,
                linecolor: '#636363',
                linewidth: 5,
                title : 'FFY'
                },};
        var backstat = {
        y: {{case_data['FFY']['NCV_pass']}},
        x: {{case_data['FFX']['NCV_pass']}},
        text: {{NCV_pass_names|tojson}},
        name: 'Negative (N={{case_data['FFY']['nr_pass']}})',
        hoverinfo:'none',
        mode: 'markers',
        type: 'scatter',
        marker: {color: '#ccccb3'}}
        data.push(backstat);
        var i = 0
    
        {% for abn  in sex_chrom_abn.keys() %} 
        {% for abn_status  in abn_status_list %} 
        var verif = {                                                                  
                name: '{{abn}} {{abn_status}} (N={{sex_chrom_abn[abn][abn_status]['nr_cases']}})',                                                               
                y: {{sex_chrom_abn[abn][abn_status]['FFY']}},                                        
                x: {{sex_chrom_abn[abn][abn_status]['FFX']}},
                text: {{sex_chrom_abn[abn][abn_status]['s_name']|tojson}},                                       
            mode: 'markers',
            marker: {   line: {width:{{abn_line}}},
                        size: {{abn_size}},
                        symbol :"{{abn_symbol}}",
                        color: "{{ncv_abn_colors[abn_status]}}"} ,                                                   
                        type: 'scatter'              
                    }; 
        data.push(verif);
        var i = i +1
        {% endfor %}
        {% endfor %}

        {% for sample in sample_list %}
        var NCVXYsamps = {
        y: [{{case_data['FFY']['samples'][sample]['NCV_val']}}],
        x: [{{case_data['FFX']['samples'][sample]['NCV_val']}}],
        name: {{case_data['FFX']['samples'][sample]['X_labels']|tojson}},
        mode: 'markers',
        text: {{case_data['FFX']['samples'][sample]['X_labels']|tojson}},
        type: 'scatter',
        marker: {
                color: '{{many_colors[sample]}}',
                size: {{case_size}},
                line: {width:{{case_line}}} }};
        data.push(NCVXYsamps);
        {% endfor %}
    
        Plotly.newPlot('NCVXY', data, layout);
    </script>
{% endblock %}
